	<div id="source" class="grid_6"></div>
	<div id="target" class="grid_6"></div>
	
	<div id="sourceDetails" class="grid_4">
	<h2>Details</h2>
		<p>Source Selected Item:<br/><span id="sourceSelectedItem"></span>
			<br/>Source Details:<br/><span id="sourceSelectedItemDetails"></span>
			<br/>Dest Selected Item:<br/><span id="targetSelectedItem"></span>
			<br/>Dest Details:<br/><span id="targetSelectedItemDetails"></span>
		</p>
		<h2>Operations</h2>
		<p><a id="rightClickTest" href="#" onclick="">Testing Right Click</a></p>
	</div>
<div id="footer" class="grid_16"><span id="jsUsedFooter"></span></div>