<h2>Source Entities</h2>
<div class="grid_3 alpha" style="text-align:center">
	<p id="sourceSystem">Source System:<br/></p>
</div>
<div class="grid_3 omega" style="text-align:center">
	<p id="sourceEntityType">Entity Type:<br/></p>
	<p><button class="source-search" id="retSourceButton" type="button">Get Sources!</button></p>
</div>
<div id="sourceFilterBar" class="grid_6 alpha" >
	<input id="sourceSearchField" type="hidden" class="grid_6 alpha" />
</div>
<div class="grid_6 alpha" id="sourceentdiv1"></div>