<h2>Target Entities</h2>
<div class="grid_3 alpha" style="text-align:center">
	<p>Source System:
	<br/><select id="targetSystem"></select></p>
</div>
<div class="grid_3 omega" style="text-align:center">
	<p>Entity Type:<br/><select id="targetEntityType"></select>
		<br/><button id="retTargetButton" type="button">Get Destination!</button>
	</p>
</div>
<div id="descFilterBar" class="grid_6 alpha" >
    <input id="targetSearchField" type="hidden" class="grid_6 alpha" />
</div>
<div class="grid_6 alpha" id="targetentdiv1">
	<table id="destentdiv1tbl"></table>
</div>