<h2>Target Entities</h2>
<div class="grid_3 alpha" style="text-align:center">
	<p id="targetSystem" >Source System:<br/></p>
</div>
<div class="grid_3 omega" style="text-align:center">
	<p id="targetEntityType">Entity Type:<br/></p>
	<p><button class="target-search" id="retTargetButton" type="button">Get Destination!</button></p>
</div>
<div id="targetFilterBar" class="grid_6 alpha" >
    <input id="targetSearchField" type="hidden" class="grid_6 alpha" />
</div>
<div class="grid_6 alpha" id="targetentdiv1"></div>